<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>License Plate Detector</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

</head>
<body>
<h1 class="text-center">License Plate Detector</h1>

<form class="p-3 text-center" action="/" method="post" enctype="multipart/form-data">
    <input class="form-control" type="file" name="imagefile">
    <button class="btn btn-primary mt-3" type="submit">Predict Image</button>
</form>

{% if path %}
<div class="flex justify-center">
    <img src={{path}} alt="detected image" style="max-width: 80vw; max-height: 70vh;">
</div>
{% endif %}
</body>
</html>
